body {
    text-align: center;
}
button {
    cursor: pointer;
}


.card {
    margin: 0, auto;
    /* border: 1px solid black; */
}

/* #dealer-crib-column {
    grid-area: leftcol;

} */
#bottom-hand {
    grid-area: bottomrow;
}
#crib-area {
    grid-area: midleftcol
}
#crib-button {
    background-color: lightpink;
    color: magenta;
    font-size: 24px;
    border-radius: 40%;
}
#dealer-top {
    grid-area: topleftcol;
    visibility: hidden;
    color: purple;
    font-size: 30px;
}
#dealer-bottom {
    grid-area: bottomleftcol;
    visibility: hidden;
    color: purple;
    font-size: 30px;
}
#game-board {
    grid-area: midrow;
    display: flex;
    justify-content: space-between;
}
#game-table {
    background-color: green;
    height: 71vh;
    width: 71vw;
    margin: 0 auto;
    border: 10px darkgreen solid;
    text-align: center;
	max-width: 100%;
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: 
		"topleftcol toprow toprightcol"
		"midleftcol midrow midrightcol"
		"bottomleftcol bottomrow bottomrightcol";
	column-gap: 25px;
}
#gb-button {
    margin: 0, auto;
    text-align: left; 
    font-size: 24px;
    justify-content: space-between;
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 40%;
}
#message-board {
    grid-area: midrightcol;
    color: yellow;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
#crib-button {
    visibility: hidden;
}
#p1-points {
    grid-area: bottomrightcol;
    font-size: 24px;
}
#p1-game-points {
    color: red;
}
#ponepoints {
    margin-top: 50px;
}
#p2-points {
    grid-area: toprightcol;
    font-size: 24px;
}
#p2-game-points {
    color: aqua;
}
#roundcount {
    font-size: 24px;
}
#dealerpoints {
    margin-top: 50px;
    
}
#top-hand {
    grid-area: toprow;
}


